.wrapper {
    background: #f1f1f1;
    border-radius: 10px;
    width: 100%;
}

.tableHeader {

}

.headerRow {
    height: 50px;
}

.header {
}

.tableBody {

}

.bodyRow {

}

.bodyItem {
    text-align: center;
}